{% extends "base.html" %}
{% block title %}Welcome - {{first_name}} {% endblock %}

{% block content %}
	<script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script>
var SyncServer = new SockJS("http://162.243.79.48:9999/echo");
SyncServer.onmessage = function(e){
     document.getElementById('user').innerHTML=e.data.message; 
};
SyncServer.onopen = function() {
    console.log("Connected");
};
//SyncServer.send('test');


</script>
    <p>Welcome {{ first_name }} {{ last_name }} !!!</p>
    <a href="/logout/">Logout</a>

    <h2 id="user">{{count}} User Online</h2> 
{% endblock %}
